/*
- USE GRID LAYOUT FOR THIS PROJECT
    - CREATE TWO ROWS FOR THE MAIN CONTENT
        - FIRST ROW; FULL-WIDTH
        - SECOND ROW; THREE COLUMNS
    - FOOTER; CREATE TWO HALF-WIDTH COLUMNS 
*/

/*OVERARCHING*/
* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 10vh 15vh 1fr 20vh;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
}

main {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

header {
    grid-area: header;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 20vh;

    padding: 5px 10px 0 10px;
}

nav {
    grid-area: nav;

    height: 20vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-right: 10px;
}

nav > ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

    list-style: none;
}

nav > ul > li {
    justify-content: space-evenly;
}

nav > ul > li > a {
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;

    color: black;
}

nav > ul > li > a:hover {
    color: white;
    background-color: black;
}

main {
    grid-area: main;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "promo promo promo"
    "service shop sale";

    background-color: aquamarine;
}

.promotion {
    grid-area: promo;
}

.info .info-1 {
    grid-area: service;   
}

.info .info-2 {
    grid-area: shop;
}

.info .info-3 {
    grid-area: sale;
}

footer {
    grid-area: footer;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}